@font-face {
  font-family: "Mont";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Mont/Mont-Heavy.eot");
  src: url("../fonts/Mont/Mont-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Heavy.woff") format("woff"), url("../fonts/Mont/Mont-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Mont";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Mont/Mont-Bold.eot");
  src: url("../fonts/Mont/Mont-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Bold.woff") format("woff"), url("../fonts/Mont/Mont-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Mont";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Mont/Mont-SemiBold.eot");
  src: url("../fonts/Mont/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-SemiBold.woff") format("woff"), url("../fonts/Mont/Mont-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Mont";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Mont/Mont-Regular.eot");
  src: url("../fonts/Mont/Mont-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Regular.woff") format("woff"), url("../fonts/Mont/Mont-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mont";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Mont/Mont-Light.eot");
  src: url("../fonts/Mont/Mont-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Light.woff") format("woff"), url("../fonts/Mont/Mont-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Circe/Circe-ExtraBold.eot");
  src: url("../fonts/Circe/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe/Circe-ExtraBold.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 25px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Mont", sans-serif;
  font-weight: 300;
  background: #0b1c27;
  color: #fff;
}

html, body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mont", sans-serif;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 54px;
  background: transparent;
  color: #000;
  font-size: 15px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #595959;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #595959;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #595959;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #595959;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #595959;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Circe", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 43px;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0.21px;
  height: 73px;
  border-radius: 36.5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-accent {
  background-blend-mode: multiply;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6000), to(#ff6000));
  background-image: linear-gradient(to bottom, #ff6000, #ff6000);
  color: #fff;
  text-transform: uppercase;
}
.btn-accent:hover {
  background: #0b1d27;
  color: #fff;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1 {
  font-size: 80px;
  font-weight: 600;
  color: #e1b587;
  width: 100%;
  margin: 45px auto 86px;
  text-align: center;
}

h2 {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin: 0 auto 120px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1360px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.color-orange {
  color: #d4aa7f;
}

.list-decor li {
  margin: 0 0 30px;
  padding: 0 0 0 58px;
  position: relative;
}
.list-decor li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 36px;
  height: 36px;
  background: url("../img/star.png") no-repeat center;
  background-size: contain;
}

.slick-slider {
  width: 100%;
  padding: 0;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  padding: 0;
  list-style: none;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slick-dots li {
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  bottom: 0;
  margin: 0 20px 0 0;
  width: 30px;
  height: 30px;
  background: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.slick-dots li:last-child {
  margin: 0;
}

.slick-dots li.slick-active {
  background: #ff6000;
}

.slick-dots li button {
  display: none;
}

.slick-arrow {
  font-size: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slick-arrow.slick-prev {
  left: 17px;
  border-right: 0;
  border-top: 0;
  border-bottom-left-radius: 5px;
}

.slick-arrow.slick-next {
  right: 17px;
  border-left: 0;
  border-bottom: 0;
  border-top-right-radius: 5px;
}

.slick-arrow.slick-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.box-text {
  line-height: 1.44;
}